.bg-login {
    background-color: #264653;
}

.bg-admin {
    background-color: #f1faee;
}

.bg-topbar {
    background-color: #006d77;
}

.w-logo {
    width: 30px;
}

.no-decoration {
    text-decoration: none;
}

.rounded-15 {
    border-radius: 15px;
}

.rounded-15-top {
    border-radius: 15px 15px 0 0;
}

.rounded-15-bottom {
    border-radius: 0 0 15px 15px;
}

.rounded-15 > .card-header {
    border-radius: 15px 15px 0 0;
}

.btn {
    border-radius: 5px;
}
